<h3>Poziomy aktywności</h3>
<dl>
  <dt>1 - brak aktywności</dt>
  <dd>całkowicie ograniczona aktywność fizyczna (niepełnosprawność ruchowa, paraliż, przewlekła hospitalizacja)</dd>

  <dt>2 - bardzo niska aktywność</dt>
  <dd>praca siedząca, brak dodatkowej aktywności po pracy</dd>

  <dt>3 - niska aktywność</dt>
  <dd>praca siedząca, ograniczona aktywność po pracy</dd>

  <dt>4 - umiarkowana aktywność</dt>
  <dd>praca siedząca, umiarkowana aktywność po pracy</dd>

  <dt>5 - duża aktywność</dt>
  <dd>praca siedząca, duża aktywność po pracy</dd>

  <dt>6 - bardzo duża aktywność</dt>
  <dd>ciężka praca fizyczna, sport wyczynowy</dd>
</dl>
