<p>Aplikacja pozwala na:</p>
<ul>
  <li>stworzenie bazy produktów wykorzystywanych w kuchni,</li>
  <li>stworzenie bazy potraw,</li>
  <li>tworzenie jadłospisów.</li>
</ul>

<p>Stworzony profil informuje o dziennym zapotrzebowaniu na kalorie, białko, tłuszcze i węglowodany. Pomaga ocenić, w jakim stopniu ułożony przez nas jadłospis zaspokaja faktyczne potrzeby organizmu.</p>
