<label for="dish_dish_name">Nazwa:</label>
<input type="text" name="dish[dish_name]" value="<%= @dish.dish_name %>"><br>

<h3>Wybierz składnik z listy i podaj jego ilość:</h3>

<% 5.times do %>
  <%= erb :'ingredients/ingredient_form' %>
<% end %>

<label for="dish_steps">Sposób przyrządzenia:</label>
<textarea name="dish[steps]"><%= @dish.steps %></textarea><br>

<input type="submit" value="Zapisz danie">
