<h1>Składniki</h1>

Wybierz składnik z listy:


<!-- <label for="dish_title">Nazwa:</label>
<input type="text" name="dish[title]" value="<%= @dish.title %>"><br>

<label for="dish_author">Autor:</label>
<input type="text" name="dish[author]" value="<%= @dish.author %>"><br>

<label for="dish_source">Źródło:</label>
<input type="text" name="dish[source]" value="<%= @dish.source %>"><br>

<label for="dish_content">Treść:</label>
<input type="textarea" name="dish[content]" value="<%= @dish.content %>"><br>

<input type="submit" value="Zapisz dane produktu">
 -->
